{% extends "blog/base.html" %}
{% block content %}
    <h1>About me</h1>

    <article class="page type-page status-publish entry page-skills" itemscope="itemscope"
    itemtype="http://schema.org/CreativeWork">
<header class="entry-header"><h2 class="entry-title" itemprop="headline">Technical Skills</h2>
</header>
<div class="entry-content" itemprop="text">
   <h3>Languages:</h3>
   <ul class="columns-2">
       <li>Python</li>
       <li>SQL</li>
       <li>Javascript</li>
       <li>HTML / CSS / Sass</li>
       <li>PHP</li>
       <li>C++</li>
   </ul>
   <h3>Tools, Frameworks, and Libraries:</h3>
   <ul class="columns-2">
       <li>Flask</li>
       <li>Django</li>
       <li>Git and GitHub</li>
       <li>WordPress</li>
       <li>Node</li>
       <li>Vagrant</li>
   </ul>
   <h3>Software:</h3>
   <ul class="columns-2">
       <li>Mac OS X</li>
       <li>Linux</li>
       <li>Windows</li>
       <li>Photoshop</li>
       <li>Chrome Dev Tools</li>
       <li>Sublime Text</li>
   </ul>
</div>
</article> <br> <br>


{% endblock content %}