{% extends "blog/base.html" %}

{% block content %}


<!--  -->

{% for post in allposts %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.img.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="#">{{ post.author }}</a> -->
        <h5 class="card-title">{{post.title}}</h5>

        <small class="text-muted">{{ post.created|date:"F d, Y" }}</small>
        
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{post.content |safe|truncatewords_html:20}}</p>
    </div>
  </article>
<!--  -->

{% endfor %}

{% endblock  %}

