{% load static %}

{% load post_tag %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href=" {% static 'blog/css/bootstrap.min.css' %}" >

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'blog/css/main2.css' %}" >
    <link rel="stylesheet" href="{% static 'blog/css/style2.css' %}">



    {% if title %}
        <title>Website - Testing {{ title }}</title>
    {% else %}
        <title>Website Testing</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color:#007cae;" >
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Training  </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">Courses</a>
              <a class="nav-item nav-link" href="{% url 'project-home' %}">Projects</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">Documentation</a>
              <a class="nav-item nav-link" href="{% url 'book-home' %}">Books</a>

              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About </a>


           



            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          
          {% block content %}{% endblock %}
        

        </div>

        <!--  -->

        
<!--  -->


<div class="col-md-4">
  <div class="content-section">


    <h3> Top Contributors (10)</h3>
    <p class='text-muted'>Big thanks for all Contributors.
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">Jeddou mhammed</li>
        <li class="list-group-item list-group-item-light">Maria life</li>
        <li class="list-group-item list-group-item-light">souhail hakim</li>
        <li class="list-group-item list-group-item-light">hakam zouhir</li>
      </ul>
    </p>


    <div class="card mb-4">  <!-- start card for blogs -->

      <h3 class="text-center text-light p-2" style="background-color:#007cae;" > Latest Posts   </h3>
  
      <!-- <ul>
  <li><a href="#">  first post </a> </li>
  <li><a href="#">  first post </a> </li>
  <li><a href="#">  first post </a> </li>
  <li><a href="#">  first post </a> </li>
  <li><a href="#">  first post </a> </li>
 

  
      </ul> -->


  {% latest_posts %}  

  </div><!-- end card for blogs -->

  <div class="card mb-3">  <!-- start card for comments -->

    <h3 class="text-center  text-light p-2" style="background-color:#007cae;"> Latest comments    </h3>

    <!-- {% include "blog/latest_comments.html" %} -->
    {% latest_comments %}  


</div><!-- end card for comments -->

  </div>

</div>



      </div>
    </main>




    <!-- start footer  -->

<!-- #007cae !important -->

    
<footer  style="background-color:#007cae;">
  <div class="container-fluid">  

      <div class="row">
<div class="col-md" > 
  <div class="card-group mt-3">
<!-- first card -->
<div class="card m-3">

<h3 class="card-title text-center border-bottom p-2 m-3">

Contact us ?
</h3>
<div class="card-body">

<div class="text-center">
<img src="{% static 'blog/img/pexels-photo.jpg' %}" alt=" logo " width="100px">

</div>Django Tutorial provides basic and advanced concepts of Django. Our Django Tutorial 
is designed for beginners and professionals both.
Django is a Web Application Framework which is used to develop web applications.

</div>
</div>
<!-- second card -->

<div class="card m-3">

  <h3 class="card-title text-center border-bottom p-2 m-3">
    Recommended Links and Books  
  </h3>
  <div class="card-body">

 <ul>

<li>
  <a href="https://developer.mozilla.org/fr/"> 
    MDN: Documentation du Web  </a>
</li>  


<li>
  <a href="https://www.djangoproject.com/"> 
    Django: The Web framework for perfectionists   </a>
</li>

<li>
  <a href="https://stackoverflow.com/">  Stack Overflow  </a>
</li>

<li>
  <a href="https://djangoforprofessionals.com/"> Django for Professionals  </a>
</li>

<li>
  <a href="https://www.youtube.com/"> 
    YouTube  </a>
</li>

 </ul> 
  
  
  </div>
  </div>

  <!-- third card -->
<div class="card m-3">

  <h3 class="card-title text-center border-bottom p-2 m-3">
    Social media  
  
  </h3>
  <h4 class="card-body text-center">
<a href="https://www.facebook.com/mhammed.jeddou" class="text-secondary"> <i class="fab fa-facebook"></i> </a>   
<a href="https://www.youtube.com/channel/UCCYdq-ZHkkzCrvu_RP8ZWug?view_as=subscriber" class="text-secondary"> <i class="fab fa-youtube"></i></a>
<a href="#" class="text-secondary"><i class="fab fa-instagram"></i></a>
<a href="#" class="text-secondary"> <i class="fab fa-twitter"></i></a>
<a href="https://www.linkedin.com/in/mhammed-jeddou-530ab099/" class="text-secondary"><i class="fab fa-linkedin"></i></a>
<a href="#" class="text-secondary"><i class="fab fa-tiktok"></i>  </a>  
  
  </h4>
  </div>

  </div>
</div>

      </div>
<div class="row p-2">
<div class="col-md text-center">

  <small  class="text-light "> 

      &copy;  2020 · GuedoMD · Mhammed Jeddou 
          </small>

</div>


</div>
</div>
</footer>

    <!-- end footer -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- js comes with footer -->

<script src="{% static 'blog/js/jquery-3.5.1.slim.min.js' %}"></script>

<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/popper.min.js' %}"></script>
<script src="{% static 'blog/js/fontawesome-all.min.js' %}"></script>
<!-- js with footer -->
  </body>
</html>