
{% load static %}

{% load post_tag %}
<div class="col-md-4">
    <div class="content-section">
  
  
      <h3> Top Contributors (10)</h3>
      <p class='text-muted'>
       
        <h3 class="extra-info"><span><a href="{% url 'register' %}"> Thank you for your support!
          Don't forget to subscribe</a> </span></h3>
  
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">Jeddou mhammed</li>
          <li class="list-group-item list-group-item-light">Maria life</li>
          <li class="list-group-item list-group-item-light">souhail hakim</li>
          <li class="list-group-item list-group-item-light">hakam zouhir</li>
        </ul>
      </p>
  
  
      <div class="card mb-4">  <!-- start card for blogs -->
  
        <h3 class="text-center text-light p-2" style="background-color:#007cae;" > Latest Posts   </h3>
    
        <!-- <ul>
    <li><a href="#">  first post </a> </li>
    <li><a href="#">  first post </a> </li>
    <li><a href="#">  first post </a> </li>
    <li><a href="#">  first post </a> </li>
    <li><a href="#">  first post </a> </li>
   
  
    
        </ul> -->
  
  {% load static %}
    {% latest_posts %}  
  
    </div><!-- end card for blogs -->
  
    <div class="card mb-3">  <!-- start card for comments -->
  
      <h3 class="text-center  text-light p-2" style="background-color:#007cae;"> Latest comments    </h3>
  
      <!-- {% include "blog/latest_comments.html" %} -->
      {% latest_comments %}  
  
  
  </div><!-- end card for comments -->
  
  <!-- --------------------------------------------------------------------- -->
  
  <div class="card mb-3">  <!-- start card for comments -->
  
    <h3 class="text-center  text-light p-2" style="background-color:#007cae;"> Recommended Books    </h3>
  
    
    <div class="card-body">
  
      <div class="text-center">
      <img class="mb-3" src="{% static 'blog/img/smaller.png' %}" alt=" logo " style="width:80%">
      
  
      <h3><a class="article-title" 
        href="https://www.amazon.com/s?k=python&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss_2">
        Python and ML.</a></h3>
    </div>
    <hr>
  
    <div class="text-center mt-5">
      <img class="mb-3" src="{% static 'blog/img/smaller3.png' %}" alt=" logo " style="width:80%">
      
  
      <h3><a class="article-title" 
        href="https://www.amazon.com/s?k=python&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss_2">
        Python with GIS.</a></h3>
    </div>
  
    <hr>
  
    <div class="text-center mt-5">
      <img class="mb-3" src="{% static 'blog/img/smaller2.png' %}" alt=" logo " style="width:80%">
      
  
      <h3><a class="article-title" 
        href="https://www.amazon.com/s?k=python&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss_2">
        Python basics.</a></h3>
    </div>
      
      </div>
  
  
  </div><!-- end card for comments -->
  <!-- -------------------------------------------------    -->
  
    </div>
  
  </div>